.form-container{
  margin: 2rem 1rem;
  width: 40rem;
  &__form{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &--item{
      width: 100%;
      .mat-mdc-form-field{
        width: 100%;
      }
    }
    &--sub-item{
      display: flex;
      gap: 0.2rem;
      width: 100%;
      .arrow-icon{
        top: 1rem;
        position: relative;
      }
      .dt-field{
        flex-shrink: 1;
        width: 45%;
        .mat-mdc-form-field{
          width: 100%;
          .mdc-text-field {
            .mat-mdc-form-field-flex{
              .mat-mdc-form-field-icon-prefix{
                .mat-icon{
                  cursor: pointer !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 896px){
  .form-container{
    width: calc(100% - 2rem);
  }
}